body{
    background-color:#faebd6 ;
}
h1{
    color: #ff0000;
    font-size: 2em;
    text-align: left;
   
}
.lorem1{
    color: #a42423;
    font-size: 0.75em;
    font-style: italic;
}
.lorem2{
    color: #00008f;
    font-size: 0.75em;
    font-style: italic;
}